@font-face { font-family: Magnific Chaos Personal Use; src: url('magnific-chaos-font/MagnificChaosPersonalUseRegular-x3J88.ttf'); }
@font-face { font-family: Kingthings Spikeless Regular; src: url('kingthingsspikeless-lkpz-webfont.woff'); } 
@font-face { font-family: Old English Five Regular; src: url('oldenglishfive-axyvg-webfont.woff'); }
@font-face { font-family: Swordskull Personal Use; src: url('swordskullpersonaluse-axqz5.tff'); }

/*&, &:before {
    transition: all 0.3s;
}

&:before {
    content: '';
    display: block;
    position: absolute;
    top: 0%;
    right: 0;
    width: 0%;
    height: 100%;
    background: red;
    transition: width 0.3s;
    z-index: -1;
}*/
.back-button {
    align-items:left;
    align-content:left;
    width:100%;
    height:100%;
    background-color:#070a13;
    color:#b8d6cf;
    float:left;
    border:none;
    font-family:'Avenir Next Condensed';
    font-size:24px;
    cursor:pointer;
    margin-left:-1000%;
    margin-top:-200%;
    padding-bottom:0;
}
.big-image {
    width:600px;/**/
    height: 300px;
    padding: 0 30px;/**/
    justify-content:center;
    display: block;
    margin-left:auto;
    margin-right:auto;
    background-image: #070a13;

}
.bigger-image {
    /*gif placeholder*/
}
.big-image-container {
    position: relative;
    text-align: center;
    background-image: #070a13;/*
    background-image: url("https://media.giphy.com/media/wud3ra4ApE8wPWZGDZ/giphy.gif")*/

}
body {
    display: grid;
    align-items: center;
    margin: 0 auto;
    padding:0;
    max-width:100%;
    overflow-x:hidden;
    background-repeat: no-repeat;
    background-color: linear-gradient( #070a13, #070a13);
    /*justify-content: center
    background-image: linear-gradient( #070a13, #070a13);*/

}
.cart-checkout {
	margin-right: 5%;
    width: 28%;
    align-items:stretch;
    justify-content:flex-end;
    border-top:2px solid #b8d6cf;
    display:flex;
}
.cart-checkout-btn {
    background-color: #8bbeb2;
    font-family: "Avenir Next Condensed";
    color: #132237;
    font-weight:600;
    background-image:none;
    background-size:contain;
    text-align:center;
    font-size:20px;
    margin-top:40%;
    margin-left:-135%;
    padding-top: 7px;
    padding-bottom:10px;/*
    padding-left:20px;
    padding-right:30px;*/
	width: 80%;
	height: 40px;
	border: none;
	background: linear-gradient(to bottom right, #b8d6cf, #8bbeb2);
    border-radius: 20px;
    box-shadow: 0 5px #d3d4d3;
    
}
.cart-checkout-btn:hover {
    background: linear-gradient(to bottom right, #8bbeb2, #527881);
    cursor: pointer;
}
.cart-checkout-btn:active {
    background: linear-gradient(to bottom right, #8bbeb2, #527881);
    box-shadow: 0 2px #666;
    transform: translateY(4px);
  }
.cart-checkout-items {
    font-size: 16px;
	font-family: "Avenir Next Condensed";
	font-weight: 500;
	color: #b8d6cf;
    line-height: 10px;
    align-items: left;
    justify-content:left;
    margin-left:-67%;
}
.cart-checkout-subtotal {
    font-size: 22px;
	font-family: "Avenir Next Condensed";
	font-weight: 700;
    color: #8bbeb2;
    align-items:left;
    margin-top:-50%;
    margin-left:40%;
    justify-content:center;
    display:flex;
}
.cart-checkout-total-amount {
    font-size: 36px;
	font-family: "Avenir Next Condensed";
	font-weight: 900;
    color: #8bbeb2;
    justify-content:right;
    margin-top:-25%;
    margin-right:55%;
    align-content:stretch;
    display:flex;
}
.cart-checkout-total-section {
    margin-top:-20%;
    display:flex;
    align-content:left;
    margin-left:-155%;
    /*
    width: 100%;
    display: flex;
    justify-content: left;
    font-family: 'Avenir Next Condensed';
    align-items: left;
    margin-top:-30%;
    height:90%;
    
    */
}
/*modal for cart*/
.cart-container {
    width: 70%;
    height: 85%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;

}
.cart-graphic {
    color:#b8d6cf;
    height:50px;
    width:50px;
    top:2.5px;
    right:2.5px;
    position:relative;
    background-image: url("/Users/ren/Desktop/Formal&& Professional/Foster Website/shopping-cart-icon.png");
    background-size: contain;
    background-color: #070a13;
    border:none;
    justify-content:right;
    align-items:right;
    align-content:right;
    justify-items:right;
    float:right;
}
.cart-graphic:hover {
    cursor:pointer;
}
.cart-graphic-counter {
    color:#b8d6cf;
    font-family: "Avenir Next Condensed";
    font-size: 16px;
    margin-top:-50%;
    margin-right:-30%;
    font-weight:600;
}
.cart-graphic-product-page {
    color:#b8d6cf;
    height:50px;
    width:50px;
    top:2.5px;
    right:2.5px;
    position:absolute;
    background-image: url("/Users/ren/Desktop/Formal&& Professional/Foster Website/shopping-cart-icon.png");
    background-size: contain;
    background-color: #070a13;
    border:none;
    margin-right:2.5%;
    margin-top:1%;
}
.cart-graphic-product-page:hover {
    cursor:pointer;
}
.cart-graphic-quick-add {
    height:30px;
    width:30px;
    position:absolute;
    right:0;
    bottom:0px;
    padding:2.5px;
    /*border:1px solid #b8d6cf;*/
    cursor:pointer;
    color:#132237;
    background:#b8d6cf
}
.cart-graphic-quick-add:hover {
    background:hsl(120,47%,61%);
    cursor:pointer;
}
.cart-icon-placement-product-page {
    position:fixed;
    align-items:center;
    width:100%;
    justify-content:space-between;
    background-color: #070a13;
    height:7.5%;;
}
.cart-icon-placement-store-page {
    background-attachment: fixed;
    position:fixed;
    margin-left:95%;
    margin-bottom:50px;
    padding-top:20px;
    padding-right:20px;
    display:flex;
}
.cart-header {
    margin: auto;
    width: 100%;
    height: 15%;
    display: relative;
    align-items: center;
    background-color: #132237;
    padding:25px;
}
.cart-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(255, 255, 255,0.5); /* Black w/ opacity */
    padding-bottom:100px;
    

  }
.cart-modal-content {
    background-color: #8bbeb2;
    color:#527881;
    margin: 0 auto;
    width: 70%;
    display: block;/**/
    justify-content: left;
    border: 4px solid #070a13;
    border-bottom: none;
    border-top: none;
    min-height:30vh;
    gap:1rem;
    position:relative;
}
.cart-modal-footer {
    background-color: #132237;
    margin-top: 0; /*1.5rem;*/
    margin-left:auto;
    margin-right:auto;
    width: 70%;
    height: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 4px solid #070a13;
    border-top: none;
    clear:both;
    position:relative;
}
.cart-modal-header {
    background-color: #132237; /*or #8bbeb2*/
    margin: auto; 
    margin-top:15%;
    height:10%;
    width: 70%; /* Could be more or less, depending on screen size */
    border: 4px solid #070a13;
    border-bottom: none;
    /*border-top-left-radius:50%;
    border-top-right-radius:50%;*/
  }
.cart-prices-amount {
    font-size: 26px;
    font-family: 'Avenir Next Condensed';
    font-weight: 800;
    color: #070a13;
    margin-right:5%;
}
.cart-prices-section {
    height:100%;
    align-items:right;
    display:block;
    text-align: right;
    margin-right:10px/*
    justify-content:right;
    margin-right:0;*/
}
.cart-product-configurables {
    display:inline-block;
    margin-top:-10%;
    margin-right:2.5%;
}
.cart-product-container {
    width:100%;
    height:100%;
    background-color: #8bbeb2;
    justify-content: space-between;
    line-height:100%;
    display:flex;
    padding-top:5%;
    padding-bottom:5%;
    margin-left:-1px;;
    margin-right:auto;
    border:2px solid #070a13;
    border-bottom: none;
    border-top: none;
    /*color:#527881;
    margin: 0 auto;
    width: 70%;
    height: 30%;
    display: flex;/*
    
    align-items: center;
    border: 4px solid #070a13;
    border-bottom: none;
    border-top: none;
    min-height:30vh;
    gap:1rem;*/
}
.cart-product-descs {
    display:inline-block;
    margin-top:10px;
}
.cart-product-image-box {
    
    text-align: center;
    display:inline-block;
    width: 15%;
    align-items:center;/*;
     width: 15%; 200px;height:120px;
    height: px;
    margin-bottom: 50px;
    */
}
.cart-product-image-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%; /*shape can always be changed, but round buttons are pretty standard*/
    background-color: #527881;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Avenir Next Condensed';
    font-weight: 900;
    color: #070a13;
    cursor: pointer;
}
.cart-product-image-count {
    font-size: 20px;
    font-family: 'Avenir Next Condensed';
    font-weight: 900;
    color: #070a13;
    width:40px;
    justify-content:center;
    align-content: center;
    margin-bottom:2%;
}
.cart-product-image-counter {
    width: 15%;
    display: flex;
    /*justify-content: space-between;*/
    gap:25px;
    align-items: center;
    margin-top:-3.75%;
    /*border:10px solid #070a13*/
}
.cart-product-image-desc {
    height: 50%;
    display:flex;
    align-self: center;
    margin-top:0;
}
.cart-product-image-prices {
    text-align: right;
    padding-left:20px;
}
.cart-product-image-subtitle {
    line-height: 1px;
    font-size: 18px;
    font-family: 'Avenir Next Condensed';
    font-weight: 600;
    color:#527881;

}
.cart-product-image-title {
    line-height: 1px;
    font-size: 32px;
    font-family: 'Avenir Next Condensed';
    font-weight: 800;
    color:#132237;/* #527881;*/
    text-transform: uppercase;
    width: 100%;
}
.cart-product-remove {
    text-decoration:underline;
    color:#132237;
    padding-right:0;
    margin-right:-37%;
    font-family:'Avenir Next Condensed'
}
.cart-product-remove:hover {
    color: #527881;
    cursor:pointer;
    text-decoration:underline;
}
.cart-product-save {
    text-decoration:underline;
    color:#132237;
    margin-right:0%;
    font-family: 'Avenir Next Condensed'
}
.cart-product-save:hover {
    color: #527881;
    cursor:pointer;
    text-decoration:underline;
}
.cart-remove-all {
    font-size: 15px;
    font-family: 'Avenir Next Condensed';
    font-weight: 600;
    color: #8bbeb2;
    cursor: pointer;
    position:relative;
    right:0;
    transform: translate(550%,110%)
    
    /*border-bottom: 1px solid #8bbeb2;*/
}
.cart-remove-all:hover {
    color: #b8d6cf;
    cursor:pointer;
    text-decoration:underline;
}
.cart-subheader {
    font-size: 30px;
    font-family: 'Avenir Next Condensed';
    font-weight: bold;
    color: #8bbeb2;
    position:absolute;
}
.centered {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}
.centered-submit {
    margin: 18.75%;
    margin-bottom: 0;
    padding-top:0;
    margin-top:0;
}
.centered-image {
    position:relative;
    justify-items:center;
    margin-top:40px;
    margin-bottom:80px;
    width: 40%;
    height: 40%;
    margin-left:22.5%;
}
.centered-left {
    position: absolute;
    top: -6.6%;
    left: 0%;

}
.centered-lower {
    position: absolute;
    top: 70%;
    left: 75%;
    transform: translate(-50%, -50%);
}
.chip-block {
    gap:10px 10px;
    display:inline-flex;
}
.close-btn {
    color: #8bbeb2;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background-color: #132237;
    padding-right:20px;
}
.close-btn:hover,
.close-btn:focus /**/{
  color: #b8d6cf;
  text-decoration: none;
  cursor: pointer;
}
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}
.decal {
    height:125px;
    width:125px;
    position:relative;
    left:10px;
    color:#b8d6cf;
}
div {
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0;
}
.footer {
    max-width:100%;
    padding: 0 100px;
    background-color:#132237;
    height: 40px;
    position:relative;
    bottom:0;
    /*padding: 0px 0px;
    ;
    
    display: grid;
    max-width:100%;
    margin-top:40px;
    /*justify-content: center;
    position:absolute;
    bottom: 0;
    height: 2.5rem; 
    border-color:pink;
    border-style:solid;
    border-width:10px;*/
}
.footer p {
    margin: 0 auto;
    line-height: 1.7;
    color: #b8d6cf;
    font-family:'Avenir Next Condensed'
}
h1 {
    font-weight:normal;
    font-size:100px;
    font-family:'Magnific Chaos Personal Use';
}
h1, h2, hr {
    color: #b8d6cf;
    
}
h2 {
    font-family:'Times New Roman';
    font-size: 40px;
    font-weight:normal;
}
h3{
    font-family:'Avenir Next Condensed';
    color: #132237;
    font-size: 40px;
    font-weight:bold;
    position: relative;/*
    top: 50%;
    left: 70%;
    transform: translate(-30%, -50%);*/

}
h4, h5 {
    font-family:'Avenir Next Condensed';
    color:#132237;
    margin-top:0;
}
h4 {
    font-weight:bold;
    font-size:32px;
}
h5 {
    font-weight:normal;
    margin-top:-20px;
    font-size:18px;
}
.half-profile-image {
    position:relative;
    margin-top:-10%;
    transform: translate(0%,20%);
    height:291px;
}
.header {
    /*padding: 0px 0px;
    display: flex;*/
    align-content: center;
    justify-content: center;
    height: auto;
    display:block;
    width: 100%;
    background-color:#132237;
    font-family:'Avenir Next Condensed';
    margin-bottom:55px;
    z-index:9999;
    height:50px;
    /*clear: both;*/
    
    }
.heading {
    border-color:#070a13;
    border-bottom-color:#b8d6cf;
    border-style:solid;
    border-width:2px;
    width:30%;
    margin-left:35%;
    margin-bottom:2.5%;
    justify-content: center;
}
html{
    /*background-image: linear-gradient(#2a2d36,black);*/
    background-repeat: no-repeat;
    background-image: linear-gradient( #070a13, #070a13); /*#132237)*/
    /*height:auto;
    background-color: #070a13;/*#1e2744!#05080f;/*#313335;#3b3d40;#45474a; #27282a;#2a2d36 #171e33#1a2138 #161c2e#25344d#1f293f*/
}
/*img {
    width:350px;
    height:350px;
}*/
input[type=submit] {
    color:#8bbeb2;
    background-color:#132237;    
}
input[type=text] {
    color:black;
    background-color:white;
    font-family:'Avenir Next Condensed';
    text-align:left;
    padding-left: 20px;
    /*padding:10px;*/
    font-size:20px;
    font-weight: bold;
}
.nav {
    display: flex;
    gap: 280px;
    list-style-type: none;
    background-color: #132237;
    font-family:'Avenir Condensed Next';
    width:100%;
    position:fixed;/**/
    left:0;
    top:-20px;
    right:-50px;
    margin-left:auto;
    padding: 30px;
    
    }
.nav li a {
    text-decoration: none;
    color: #8bbeb2;
    font-size: 2.3rem;
    /*position:absolute;*/
    }
.nav-btn {
    border: none;
    color: #8bbeb2;
    padding: 30px;
    justify-content:center;
    align-content:top;
    text-align: center;
    font-size: 20px;
    font-family: 'Avenir Next Condensed';
    margin: 0px 0px;
    cursor: pointer;
    
    } 
/*.nav-btn span{
    color: red;
    font-size: 30px;
}*/
.nav-btn:hover {
    text-decoration: underline;
    /*color: #132237; https://ibb.co/bNGMbgR||https://scontent-atl3-1.xx.fbcdn.net/v/t39.30808-6/324934632_699067345254491_8936100276576675528_n.jpg?stp=dst-jpg_s1080x2048&_nc_cat=106&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=qK7XxwPOK_YAX8ubyGw&tn=kP5bJpni1RhO--x4&_nc_ht=scontent-atl3-1.xx&oh=00_AfACl_Bcp9mn2f0xKTA5ea7GK9p2_48bF6093SB_BCVFog&oe=63C593FE*/
    /*http://clipart-library.com/images_k/full-moon-transparent-background/full-moon-transparent-background-19.png
    background-image: url('https://media.giphy.com/media/wud3ra4ApE8wPWZGDZ/giphy.gif');/*width="480" height="480" frameBorder="0"
    background-size:cover;*/
    /*font-weight:bold;
    background-color: #c40f0f;
    background-color: #de314c/**/
}
.nav-btn:hover span{
    font-weight:bold;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: #070a13;
    overflow: hidden;
    width: 0;
    height: 70%;
    top:0;
    transition: .5s ease;
}
.p {
    color: #132237;
    font-size: 15px;
    }
#page-container {
    position: relative;
    min-height: 100vh;
}
.parent {
    display: grid;
    align-items:center;
    align-content:center;
    position:relative
}
.parent-left {
    display: grid;
    align-items:left;
    align-content:left;
    position:relative;
}
.product-box {
    position:relative;
    display:block;
    width:300px;
}
.product-box:hover {
    padding:10px;
    border:1px solid #b8d6cf;
    transition: 0.4s;
    cursor:pointer;
}
.product-box:hover .overlay{
    width: 100%;
    left: 0;
}
.product-image {
    width:300px;
    height:auto;/**/ 
    margin-bottom:20px;
    margin-left:0%;
    cursor:pointer;
}
.product-label-price-and-atc-icon {
    color:#b8d6cf;
    font-family:'Avenir Next Condensed';
    font-weight:medium;
    font-size:20px;
    clear:both;
    justify-content:space-between;
    align-content:center;
}
.product-label-title {
    color:#b8d6cf;
    font-family:'Avenir Next Condensed';
    font-weight:bold;
    font-size:28px;
    text-transform:uppercase;
    margin-bottom:0.5rem;
}
.product-layout {
    margin-top:2rem;
    max-width:1068px;
    margin:auto;
    width:100%;
}
.product-page-chip {
    background-color: #8bbeb2;
    font-family: "Avenir Next Condensed";
    color: #132237;
    font-weight:300;
    background-image:none;
    background-size:contain;
    text-align:center;
    font-size:20px;
    margin-top:40%;
    margin-left:-135%;
    padding-top: 7px;
    padding-bottom:10px;/*
    padding-left:20px;
    padding-right:30px;*/
    width: 80%;
    height: 40px;
    border: none;
    background: linear-gradient(to bottom right, #b8d6cf, #8bbeb2);
    border-radius: 20px;
    display:inline-block;
        
}
.product-page-chip:hover {
    background: linear-gradient(to bottom right, #8bbeb2, #527881);
    cursor: pointer;
}
.product-page-desc {
    margin-top:-5%;
    margin-left:20%;
    justify-content:left;
    color:#b8d6cf
}
.product-page-price {
    color:#b8d6cf;
    
}
.product-page-title {
    color:#b8d6cf;
    justify-content:left;
}
.right-align {
    justify-content:right;
    align-items:right;
    align-content:right;
    justify-items:right;
}
.sign-up-space {
    background-color: #8bbeb2;
    display:block;
    position:relative;
    width:100%;
    padding:4px 0;
    align-content:left;
    text-align:left;
    padding-bottom: 20px;
    /*padding: 65px 200px;*/
    margin-top:0px;
}
.sign-up-div {
    width:100%;
    position:relative;
    top: 0%;
    left: 0%;
    transform: translate(0%,-20%);
    margin-top: 0;
    margin-bottom:0;
    /*background-color: #8bbeb2;*/
}
.signup-form {
    position:relative;
    top: 0%;
    left: 27.5%;
    transform: translate(0%, -25%);
    width:100%;
    /*background-color:#8bbeb2;*/
    display:inline-block;
    justify-content:center;
    margin-bottom:25px;
    padding-right:50px;
}
.signup-label {
    font-weight:bold;
    font-size:20px;
    color:#132237;
    font-family:'Avenir Next Condensed';
    display:inline-block;
    align-items:center;
    padding-top:5px;
}
.size-test {
    border-color:pink;
    border-style:solid;
    border-width:10px;
    /*max-width: 100%;*/
}
.social-media-btn {
    /*change the base image for each social media button, making each one a different moon phase*/
    height: 50px;
    width: 50px;
    background-color: #527881;
    background-size:contain;
    border-radius: 50%;
    display: inline-block;
    gap:20px 20px;
    transform: translate(0%,-45%);
    margin-right: 20px;
    margin-bottom: 0;
    padding-top:0;
    margin-top:0;
}
.social-media-btn:hover {
    /*background-image: none;  url('https://media.giphy.com/media/wud3ra4ApE8wPWZGDZ/giphy.gif');
    background-size:25px 25px;
    position: relative;*/
}
.store-chip {
    height: 30px;
    width: 50px;
    background-color:#527881;
    background-size: contain;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    gap: 20px 20px;
    margin-top:0;
    color:#132237;
    font-weight: 600;
}
.store-chip:hover {
    cursor:pointer;
}
.store-image {
    width: 200px;
    height: 200px;
    border-style:solid;
    border-width:10px;
    border-color: #070a13;/*same as background for quick fix*/
    margin-bottom: 50px;
    display:block;
}
.store-image-div {
    flex-wrap:wrap;
    display:flex;
    margin-left:12.5%;
    margin-right:7.5%;
    padding-top:0px;
    padding-bottom: 112px; /*70px originally*/
    justify-content:left; /*left with 12.5% left margin or center with 7.5% margin*/
    grid-template-columns: repeat(auto-fill,minmax(160px, 1fr));

}
.store-image-div>* {
    flex: 0 0 15%;
}
.store-image-thin-border-inline {
    /*flex-wrap:column;*/
    display:flex;
    margin-left:30%;
    margin-top:30%;/*
    margin-right:7.5%;
    padding-top:0px;
    padding-bottom: 70px;
    justify-content:left; /*left with 12.5% left margin or center with 7.5% margin*/
    grid-template-columns: repeat(auto-fill,minmax(160px, 1fr)); /*take this out if necessary*/
    width: 150px;
    height: 150px;
    border-style:solid;
    border-width:2px;
    border-color:#070a13 ;/* same as background for quick fix*/
    margin-bottom: 50px;
    position:relative;
    object-fit:contain;
}
.store-image-thin-border-inline-duplicate {
    border:2px solid #132237;
    width:150px;
    height:150px;
    padding: 1.75% 0; /*originally 1.75% */
    gap:1.5rem;
    margin-left:2.5%;
}
.store-image:hover {
    cursor:pointer;
    /*border:1px solid #b8d6cf;*/
}
.store-image-product-page {
    width:60%;
    height:30%;
    border: 2px solid #b8d6cf;
    margin-top:5%;
    margin-bottom:.5rem; /*originally 2.5%*/
    transition:0.4s;
}
.store-label-description /*or amount, if 'title' is used for the description of the item*/{
    color:#b8d6cf;
    font-family:'Avenir Next Condensed';
    align-items: left;
    padding-top:180px;
    padding-right:10px;
    position:absolute;
    justify-content:left;
    font-weight:normal;
    text-align:left;
}
.store-label-title{
    color:#b8d6cf;
    font-family:'Avenir Next Condensed';
    align-items: left;
    padding-top:140px;
    padding-right:10px;
    position:absolute;
    justify-content:left;
    font-weight:bold;
    text-align:left;
}
.store-products {
    /*display:grid;
    grid-template-columns: repeat(auto-fit,minmax(160px,1fr));
    gap:1.5rem;*/
    margin-left:-12.5%;
    display:grid; 
    text-align:left;
    align-content:center;
    justify-content:space-between;
    /*margin-left:30%;
   
    margin-right:7.5%;
    padding-top:0px;
    padding-bottom: 70px;
    justify-content:left; /*left with 12.5% left margin or center with 7.5% margin*/
    grid-template-columns: repeat(auto-fill,minmax(160px, 1fr)); /*take this out if necessary*/
    
    border-style:solid;
    border-width:2px;
    border-color:#070a13 ;/* same as background for quick fix*/
    margin-bottom: 50px;
    position:relative;
    gap:11rem;
}
.subheader-product-page {
    margin-top:10%;
}
.submit-btn {
    font-weight:bold;
    font-family:'Avenir Next Condensed';
    background-image:none;
    background-size:contain;
    text-align:center;
    font-size:20px;
    margin-top:20px;
    padding:10px;
    background: url('/Users/ren/Desktop/Formal&&\ Professional/Foster\ Website/moon-pic.png')
}
.submit-btn:hover {
    background-image:none; /*url('https://media.giphy.com/media/wud3ra4ApE8wPWZGDZ/giphy.gif');*/
    background-size:cover;
    /*background: url('/Users/ren/Desktop/Formal&&\ Professional/Foster\ Website/moon-pic.png');
    background-size:cover;*/
}
.title-separation {
    width:35%;
    position:relative;
    transform: translate(0%,-45px);
}
.video-div {
    display:block;
    text-align:center;
}
.yt-video {
    /*maybe add borders if desired*/
    padding:20px 20px 20px 20px;
    width: 560px;
    height: 315px;
}